/* src/components/BoxSizingIndividualSettingsModal.css */

.box-sizing-layout-container .individual-settings-modal {
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -100%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  width: 300px; /* Ширина для сетки */
  font-size: 0.9em;
}

.box-sizing-layout-container .modal-content .modal-grid {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Отступ между элементами */
}

.box-sizing-layout-container .control-group {
  margin-bottom: 10px;
}

.box-sizing-layout-container .control-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.box-sizing-layout-container .control-group input[type="range"],
.box-sizing-layout-container .control-group select {
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
}

.box-sizing-layout-container .modal-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.box-sizing-layout-container .modal-buttons button {
  padding: 5px 10px;
  cursor: pointer;
  flex: 1;
  margin: 0 2px;
}

.box-sizing-layout-container .modal-buttons button.delete-btn {
  background-color: #ffcccc;
  border-color: #cc0000;
}